<h1>Ajoute un signet</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.association :movie %>
<%= f.input :comment %>
<%= f.submit "Enregistrer mon commentaire", class: "btn btn-primary" %>
<% end %>
